{% extends 'base.html' %}

{% block content%}

<h1>{{ name }}</h1>
Количество комментариев на странице: {{ object_list|length }}
{% for item in object_list %}
<li>
<a href = "{% url 'med_app:comments_detail' pk=item.pk %}">{{item.name}} : {{item.email}} : {{item.message}}</a>
<a href = "{% url 'med_app:comments_update' pk=item.pk %}"> / Изменить</a>
<a href= "{% url 'med_app:comments_delete' pk=item.pk %}"> / Удалить</a>
</li>
{% endfor %}

<a href="{% url 'med_app:comments_create' %}">Создать</a>

<!-- Pager -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{%  endblock %}

<!-- ##### All Javascript Script ##### -->
{% block anotherscripts %}
{% endblock %}