{% extends 'base.html' %}

{% block content%}

<h1>{{name}}</h1>
{% for item in object_list %}
<li>
<a href = "{% url 'med_app:comments_detail' pk=item.pk %}">{{item.name}} : {{item.email}} : {{item.message}}</a>
<a href = "{% url 'med_app:comments_update' pk=item.pk %}"> / Изменить</a>
<a href= "{% url 'med_app:comments_delete' pk=item.pk %}"> / Удалить</a>
</li>
{% endfor %}

<a href="{% url 'med_app:comments_create' %}">Создать</a>

{%  endblock %}

<!-- ##### All Javascript Script ##### -->
{% block anotherscripts %}
{% endblock %}