    {% extends 'base.html' %}
    <!-- Title -->
    {% block title %}Поисковик по препаратам{% endblock %}

    <!-- ##### Hero Area Start ##### -->
    {% block content %}
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Вы легко можете найти информацию <span>по любому препарату</span></h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Название, показание, противопоказание, производитель, цена</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="cryptos-feature-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h3>Давайте <br><span>начнем поиск</span> препарата</h3>
                        <p>Все есть яд и только доза его делает лекарством</p>
                        <p>@Парацельс</p>
                        <p class="copyright text-muted">
                            <button type="button" id="btn-joke" class="btn-info">
                            Перейти к поиску
                        </button>
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
    <!-- ##### Course Area End #####-->
   